*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* HEADER */

/* HEADER TOP */
.header-top {
    background-color: #255ee9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* test */
    width: 100%; 
}
/* COLONNE */
.col{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:60%; 
 }

.logo{
    display: flex;
    align-items: center;
    width:20%; 
      
}
a{
    text-decoration: none;
    color: white
}
/* INIZIO NAV */
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    
}

ul{
    list-style-type: none;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;      
}

nav li {
    padding: 0 30px;  
}
/* FINE NAV */
.login{
    align-items: center;
    justify-content: end;  
    display: flex;
    width:20%;   
}

/* BOTTONE PICCOLO */
.btn-small{
    border-radius: 30px;
    padding: 13px;
    outline: none;
}
/* BOTTONE GRANDE */
.btn-large{
border-radius: 30px;
padding: 20px;
outline: none;
}

.btn-small a {
    color:black;
}

.login .btn-small{
    border: 1px solid white;
    color: black;  
}
/* FINE COLONNE */

/* INIZIO JUMBOTRON */

.header-bot{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 100px;
    
}

.jumbotron{
    width: 40%;
    text-align: center;
    color: white;      
}

.jumbotron h1{
    padding: 20px;
    font-size: 59px;
}

.jumbotron p{
    padding: 20px;
    font-size: 25px;
}

.white{
    background-color: white;
    color: black;
    border: 1px solid white;
    font-size: 20px;
    padding: 12px;
}

.blk{
    background-color: #23272a;
    color: white;
    border: 1px solid #23272a;
    font-size: 20px;
    padding: 12px;
}



/* FINE JUMBOTRON + HEADER  */

/* INIZIO MAIN */
                /* SFONDO BIANCO E CONTENITORE  */
.main-cont{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
    /* SFONDO GRIGIO */
.grey{
    background-color: #f6f6f6;
}
    /* SFONDO NERO */
.black{
    background-color: #23272a;
}
    /* INIZIO BLOCCHI COLORATI */

/* BLOCCO BLU */
.cont-blue{
    
    display: flex;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* BLOCCO ROSA */
.cont-pink{
    width: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2{
    text-align: left;
    font-size: 60px;
    padding: 20px;
    margin-bottom: 40px;
}

p{
    text-align:start;
    font-size: 20px;
    
}    

/* BLOCCO VERDE */
.cont-green{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h3{
    font-size: 50px;
    padding: 20px;
}

.coral{
    background-color: #7289da;
    color: white;
    border: 1px solid #7289da;
    font-size: 20px;
}



/* BLOCCO ROSA SCURO */
.cont-rose{
    width: 20%;
    height: 500px; /* test */ 
    margin-top: 10px;
    margin-bottom: 20px;
}
/* INTER-CONTENITORE TRATTEGGIATURA NERA */
.inter-cont{
    display: flex;
    width: 60%;
    height: 500px; /* test */ 
    margin-top: 5px;
    margin-bottom: 20px;

}
/* CONTENITORE AZZURRO */
.cont-lightblue{
    width: 30%;
    height: 500px; /* test */ 
    margin-bottom: 20px;
    padding: 30px;
    line-height: 40px;
}

h4{
    color: #7289da
}

.cont-lightblue li{
    color: white;
}


/* FINE MAIN E BLOCCHI COLORATI*/

/* INIZIO FOOTER */

.foot-cont{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.end{
    display: flex;
    width: 100%;
    height: 100px; /* test */ 
    justify-content: center;
    align-items: center;
}

.feet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 60px; /* test */ 
    background-color: #7fffd4;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffb6c1;
    border: 1px Dashed black;
    height: 30px; /* test */ 
    padding: 10px;
    
}

/* FINE FOOTER */